/* BLOQUE FEYMAN */
.feynman{
    height: 790px;
    position: relative;
  
    background-color: #F2F2F2;
  
    /* border: 1px solid red; */
  }
  .feynman__imagen{
    position: absolute;
    bottom: 0;
    left: 0;
    
  }
  .feynman__title{
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    width: 775px;
    display: flex;
    margin: auto;
    position: relative;
    z-index: 1;
  }
 
  .feynman__subtitle{
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: relative;
    z-index: 1;
  }
  .feyman__subtitle_padding-top_margin_cero{
    padding-top: 70px;
    margin: 0 auto;
  }
  .feynman__link{
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
    z-index: 1;
    
  }
  .feynman__link_possition{
    position: absolute;
    top: 50%;
    right: 48px;
  }