
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* border: 1px solid black; */
}
.margin-cero{
  margin: 0;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
}
.logo__imagen{
  width: 100%;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title{
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 50%;
  z-index: 3;
}
.header__subtitle{
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  z-index: 3;
}
.header__link{
  color: #2F80ED;
}
/* .header__mas-informacion p{
  margin-bottom: 0;
} */


.header__contenido{
  display: flex;
}
.header__imagenes{
  width: 50%;
  /* border: 1px solid; */
}
.header__main-illustration{

  position: absolute;
  bottom: 0;
  right: 0;
  width: 756px;
  height: 608px;
  z-index: 2;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

/* DESCRIPCION */
.description{
  display: flex;
  justify-content: center;
  padding: 100px 0;
  /* border: 1px solid; */
}
.two-columns__brief{
  width: 175px;

}
.two-columns__brief-texto{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}
.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}
.two-columns__main-text{
  width: 80%;
  /* border: 1px solid; */

}
.two-columns_paragraph{
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns_paragraph:last-of-type{
  padding-bottom: 0;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
}

/* DIGITS */
.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  /* border: 1px solid; */
}
.section-title{
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle{
  width: 60%;
  line-height: 34px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 60px;
}

.table{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 1100px;
  z-index: 1;
  /* border: 10px solid; */
  
}
.table__cell{
  text-align: left;
  list-style: none;
  width: 250px;
  /* padding-bottom: 60px; */
  margin-bottom: 60px;
  /* border: 1px solid red; */



}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  
}
.table__text{
  font-size: 18px;
  line-height: 1.2;
  font-style: normal;
  margin: 0;
  padding-top: 20px;
}

/* BLOQUE FEYMAN */
.feynman{
  height: 790px;
  position: relative;

  background-color: #F2F2F2;

  /* border: 1px solid red; */
}
.feynman__imagen{
  position: absolute;
  bottom: 0;
  left: 0;
  
}
.feynman_title{
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  width: 775px;
  display: flex;
  margin: auto;
  position: relative;
  z-index: 1;
}
.feyman_title_padding_top_margin_cero{
  padding-top: 100px;
  margin: 0 auto;
}
.feynman_subtitle{
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}
.feyman_subtitle_padding_top_margin_cero{
  padding-top: 70px;
  margin: 0 auto;
}
.feynman_link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
  z-index: 1;
  
}
.feynman_link_possition{
  position: absolute;
  top: 50%;
  right: 48px;
}

/* kaufman */
.kaufman{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}
.section-title_theme_dark{
  z-index: 1;
  color: white;
  padding-top: 90px;
}
.section-subtitle_theme_dark{
  color: white;
  padding-bottom: 60px;
}

.table_theme-dark{
  color: white;
}
.table__heading_style{
  text-align: left;

  font-size: 24px;
}
.table__text_style{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__cell_size{
  width: 200px;
}
/* including elements with key-value modifiers */
.theme_dark {
  color: white;
}
.kaufman__triangulo{
  position: absolute;
  /* top: 0; */
  right: -124px;
}

/* FOOTER */
.footer{
  background-color: #000000;
  padding: 60px 0 40px 0;
  height: 350px;
}
.footer__columns{
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__list{
  margin: 0;
  padding: 0;
  list-style: none;
  
}
.logo_place_footer{
  width: 183px;
  height: 35px;
}
.footer__autor{
  color: white;
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading{
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer__column-link{
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;

}
.footer__columnn_content_social{
  line-height: 30px;
  
}
.footer__social-icons{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
